body{
    background-color: whitesmoke;
    vertical-align: 2px;
    margin: 0 auto;
    padding: 0;
}
.cabecario{
    width: 960px;
    height: 100px;
    background-color: rgb(179, 174, 174);
    font-size: 30px;
}
.geral {
    background-color: white;
    width: 960px;
    height: auto;
    margin: 0.2px;
    padding: 0px auto;
    display: block;
    margin: 0 auto;
    
}

.table{
    width: 960px;
    height: auto;
    align-items: center;
}

.titulo{
text-align: center;
color:black;
font-size: 14pt;
font-family: Arial;

}

th{
    text-align: center;
    font-family: arial;
    font-size: 12pt;
    
}

tr{

    height: 30px;
    text-align: center;
}

td{
    width: 200px;
}
.no{ border: 0;}
:placeholder-shown{text-align: center;}

.cadastro1{
    text-align: center;
    border: solid;
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    height: auto;
    margin: 2px;
    padding: 2px auto;
    display: block;
    margin: 0 auto;
    float: left;
}
.cadastro2{
    text-align: center;
    border: solid;
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    height: auto;
    margin: 2px;
    padding: 12px 12;
    display: block;
    margin: 0 auto;
    float: right;
}

.cadastro3{
    text-align: center;
    border: solid;
    border-radius: 2px 2px 2px 2px;
    width: 400px;
    height: auto;
    margin: 2px;
    padding: 12px 12;
    display: block;
    margin: 0 auto;
    float: right;
}