body{
    background-color: rgb(77, 77, 77);
    vertical-align: 2px;
    margin: 0 auto;
    padding: 0;
}
.cabecario{
    width: 960px;
    height: 100px;
    background-color: rgb(67, 63, 89);
    border-radius: 15px 15px 0px 0px;
    font-size: 90px;
    color: whitesmoke;
    text-align: center;
    padding: 0px auto;
    display: block;
    margin: 0 auto;   
}
.menublock{
    width: 960px;
    height:50px;
    padding: 0px auto;  
    font-size: 20px;
    margin: 0 auto; 
    background-color: rgb(152, 39, 39);
}

.menublock{
    width: 960px;
    height: 60px;
   float: inline-end;
  display: block;
   
   
    
}

ul.menu {
    padding:  0;
    margin-left: px;
    }

ul.menu li{
        display: inline;
   }
ul.menu li a{
        background: black;
        color:blanchedalmond;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 15px 0 15px 0;
    }
    
    ul.menu li a:hover{
        background: whitesmoke;
        color: blue;
    }
    
.geral {
    background-color: white;
    width: 960px;
    height: 1945px;
    margin: 0.2px;
    border: solid;
    border-radius: 20px 20px 0px 0px;

    display: block;
    margin: 0 auto;
    
}
.table{
    width: 960px;
    height: auto;
    align-items: center;
    padding: 2px;
    border-radius: 15px 15px 15px 15px;
}

.titulo{
text-align: center;
color:black;
font-size: 14pt;
font-family: Arial;

}

th{
    text-align: center;
    font-family: arial;
    font-size: 12pt;
    border-radius: 15px 15px 15px 15px;
    
}

tr{

    height: 30px;
    text-align: center;
}

td{
    width: 200px;
    border-radius: 15px 15px 15px 15px;
}
.no{ border: 0;}
:placeholder-shown{text-align: center;}

.cadastro1{
    text-align: center;
    width: 625px;
    height: auto;
    margin: 2px;
    padding: 2px auto;
    display: block;
    margin: 0 auto;
}

.cadastro-jogadas{
    text-align: center;
    width: 400px;
    height: auto;
    margin: 2px;
    padding: 2px auto;
    display: block;
    margin: 0 auto;
    float: left;
}
.enviar {
    display: inline;
}
.enviar{
    background: black;
    color:blanchedalmond;
    padding: 10px 20px;
    text-decoration: none;
}

.enviar:hover{
    background: whitesmoke;
    color: blue;}